{% extends "base.html.twig" %}

{% block title %}Page d'enregistrement
{% endblock %}


{% block body %}

	{{ form_start(form) }}

	<h1>Inscription</h1>
	{{ form_rest(form) }}
	<div class="">
		<button class="">S'inscrire</button>
	</div>
</div>
{{ form_end(form) }}{% endblock %}
